<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /takaletyvole
RewriteRule ^/takaletyvole/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /takaletyvole/index.html [L]
</IfModule>